<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>С праздником!</title>
</head>
<style>
    body, html { height: 100%; margin: 0; overflow: hidden; }
    canvas { width: 100%; height: 100%; display: block; position: absolute; top: 0; left: 0; z-index: 1; }
    .overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 2; /* Выше фейерверков */
        color: white; /* Для лучшей видимости на темном фоне */
    }
</style>
</head>
<body>
<canvas id="fireworks"></canvas>
<div class="overlay">
    <h1>С днем рождения!</h1>
    <p>Мама,я позравляю тебя с {{ age }}-летием!!!
       Я желаю тебе всего наилучшего и хорошего,я тебя люблю!!!❤️❤️❤️ </p>
    <img src="/static/cake.gif" alt="Birthday Cake" width="200" height="200">
</div>
<body>
    <canvas id="fireworks"></canvas>
    <script>
        const canvas = document.getElementById('fireworks');
        const ctx = canvas.getContext('2d');
        canvas.width = window.innerWidth;
        canvas.height = window.innerHeight;
    
        function fireworks() {
            let particles = [];
            const colors = ['#ffdd55', '#ff6622', '#ff2255', '#8822ff', '#44ff88'];
    
            function initParticles(num, x, y) {
                for (let i = 0; i < num; i++) {
                    particles.push({
                        x: x,
                        y: y,
                        radius: Math.random() * 2 + 1,
                        color: colors[Math.floor(Math.random() * colors.length)],
                        velocity: {
                            x: (Math.random() - 0.5) * 3.5,
                            y: (Math.random() - 0.5) * 3.5
                        }
                    });
                }
            }
    
            function animate() {
                if (Math.random() < 0.1) {
                    initParticles(Math.random() * 100 + 50, Math.random() * canvas.width, Math.random() * canvas.height);
                }
                ctx.fillStyle = 'rgba(0, 0, 0, 0.05)';
                ctx.fillRect(0, 0, canvas.width, canvas.height);
                particles.forEach((particle, i) => {
                    ctx.beginPath();
                    ctx.arc(particle.x, particle.y, particle.radius, 0, Math.PI * 2, false);
                    ctx.fillStyle = particle.color;
                    ctx.fill();
                    particle.x += particle.velocity.x;
                    particle.y += particle.velocity.y;
                    particle.radius -= 0.02;
                    if (particle.radius < 0.1) {
                        particles.splice(i, 1);
                    }
                });
                requestAnimationFrame(animate);
            }
    
            animate();
        }
    
        fireworks();
        
    </script>
</body>
</html>
